
/* Navbar Styling */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

/* Search Bar Styling */
.search{
    display: flex;
    justify-content: flex-end;
}
.search-bar{
    border: none;
    outline: none;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    padding: 0.6em 1.2em;
    margin: 0px 5px;
}

/* search button styling */
.search-btn{
    border: none;
    outline: none;
    background-color: teal;
    color: white;
    padding: 0.6em 1.2em;
    border-radius:5px;
    margin: 0px 5px;
    cursor: pointer;
}
.search-btn:hover{
    background-color: rgb(1, 101, 101);
}



/* Media Queries for navbar, searchbar and search button */

@media (max-width: 768px) {
    .logo img{
        height: 45px;
    }
    .search-bar{
        width: 40%;
        font-size: 12px;
    }
    .search-bar::placeholder{
        font-size: 10px;
    }
    .search-btn{
        font-size: 12px;
    }
}

@media (max-width: 480px) {

    .navbar{
        flex-direction: column;
    }
    .search{
        justify-content: center;
    }
    .search-bar{
        width: 80% !important;
    }
    .logo img{
        height: 40px;
    }
    .search-bar{
        width: 40%;
        font-size: 12px;
    }
    .search-bar::placeholder{
        font-size: 10px;
    }
    .search-btn{
        font-size: 12px;
    }
}
