
/* Model overlay or Wrapper styling */
.wrapper{
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.432);
    display: flex;
    align-items: center;
    justify-content: center;
    
}


/* Model content styling */
.modal-content{
    width: 650px;
    height: 500px;
    background-color: white;
    position: relative;
    animation: fadeInDown 0.8s;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.5);
}

.poster{
    height: 400px;
    width: auto;
    border-radius: 10px;
    margin: 10px;
}
.movietitle{
    margin: 0px 1em;
    text-align: left;
}
.movieDetails{
    display: flex;
}

.movieDescription{
    text-align: left;
    margin: 10px 30px 10px 10px;
}

.movieDescription p{
    text-align: justify;
}


/* Close Button styling */
.btnClose{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 0px 10px;
    font-size: 35px;
    background: none;
    border: none;
    outline: none;
    border: 1px solid rgba(56, 56, 56, 0.476);
    border-radius: 5px;
}

@keyframes fadeInDown{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


/* Media Queries for modal, modal-content, movie description */
@media (max-width: 1024px) {
    .modal-content{
        width: 550px;
        height: 400px;
    }
    .poster{
        height: 300px;
    }
}
@media (max-width: 768px) {
    .modal-content{
        width: 450px;
        height: 350px;
    }
    .poster{
        height: 250px;
    }
    .btnClose{
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .movietitle h3{
        font-size: 14px;
    }
    .modal-content{
        width: 350px;
        height: 300px;
    }
    .poster{
        height: 180px;
    }
    .movieDescription{
        text-align: left;
        margin: 5px 15px 5px 5px;
    }
    .btnClose{
        font-size: 20px;
    }
}